<launch>

    <node pkg="computer_vision" type="project_setup_node.py" name="ProjectSetup" output="screen"  />
    
    <node pkg="computer_vision" type="activation_node.py" name="ActivationTest" output="screen"/>

    <node pkg="computer_vision" type="ur_node.py" name="UR" output="screen"/>

    <!--node pkg="computer_vision" type="tracker_node.py" name="MotionTracker" /-->

</launch>