<launch>

    <node pkg="computer_vision" type="project_setup_node.py" name="ProjectSetup" />
    
    <node pkg="computer_vision" type="activation_node.py" name="ActivationTest" />

    <node pkg="computer_vision" type="ur_node.py" name="UR" />

    <node pkg="computer_vision" type="tracker_node.py" name="MotionTracker" />

    <node pkg="computer_vision" type="video_saver.py" name="VideoSaver" />

</launch>