<launch>

    <node pkg="computer_vision" type="video_saver_node.py" name="video_saver" />

    <node pkg="computer_vision" type="matcher_node.py" name="matcher" />

    <node pkg="computer_vision" type="tracker_node.py" name="tracker" />

    <node pkg="computer_vision" type="data_node.py" name="data_collector" />

</launch>